#tan:hover {
  background-color: tan;
  color: black;
}
#tan:active{
  background-color: tan;
  color: white;
  border: 1px;
  border-color: antiquewhite;
}
#tan:focus{
  background-color: tan;
  color: white;
  border: 1px;
  border-color: antiquewhite;
}